[Unit]
Description=Doorphone manager
After=multi-user.target
 
[Service]
Type=simple
EnvironmentFile=-/etc/default/doorphone
ExecStart=/usr/bin/python -u /usr/local/bin/doorphone.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
